.background {
  background-image: linear-gradient(aqua, navy);
  width: 100vw;
  height: 100vh;
  border: groove black;
}

.header {
  background-image: linear-gradient(to bottom right, navy, green, blue, navy, green, navy, blue, green, navy);
  height: 15vmin;
  width: 100vw;
  border: groove black;
}

.logo {
  background-color: Gainsboro;
  width: 12vmin;
  height: 12vmin;
  transform: translate(1.5vmin, 1.2vmin);
  border-radius: 22%;
}

.triangle-up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5vmin 5vmin 5vmin;
  border-color: transparent transparent #363636 transparent;
  border-radius: 25%;
  transform: translate(1vmin, -4vmin);
}
