.background {
  background-image: linear-gradient(aqua, navy, rgb(48, 17, 99), rgb(161, 15, 15));
  width: 100vw;
  height: 300vh;
  border: groove black;
}

.header {
  position: sticky;
  background-image: linear-gradient(to bottom right, navy, green, blue, navy, green, navy, blue, green, navy);
  height: 15vmin;
  width: 100vw;
  border: groove black;
  transform: translateY(-2px);
  z-index: 5;
}

.logo {
  background-color: Gainsboro;
  width: 11vmin;
  height: 11vmin;
  transform: translate(1.5vmin, 1.2vmin);
  border-radius: 22%;
  cursor: pointer;
  border: 1vmin solid #363636;
}

.triangle-up {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5vmin 5vmin 5vmin;
  border-color: transparent transparent #363636 transparent;
  border-radius: 25%;
  transform: translate(0.5vmin, 1vmin);
}

.leg-r {
  position: absolute;
  background-color: #363636;
  width: 2.5vmin;
  height: 5vmin;
  transform: translate(5.8vmin, 5.2vmin);
  border-radius: 15%;
}

.leg-l {
  position: absolute;
  background-color: #363636;
  width: 2.5vmin;
  height: 5vmin;
  transform: translate(2.7vmin, 5.2vmin);
  border-radius: 15%;
}

.house {
  position: absolute;
  background-color: #363636;
  width: 3vmin;
  height: 3vmin;
  transform: translate(3.5vmin, 5vmin);
  border-radius: 15%;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;

}

.container {
  width:90vw;
  height:200vh;
  margin-top: 45px;
  transform: translate(5vw, -290vh);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 3vw;
  grid-row-gap: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.box {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: radial-gradient(black 30%, transparent 70%);
  background-attachment: relative;
 
}

.box:hover {
  background: radial-gradient(white, transparent 70%);
}

.box-content {
  width: 100%;
  padding-top:90%;
  background-size: contain; 
}
.box-content:hover {
  opacity: 80%;
}

.grid > .box:nth-of-type(1) > .box-content {
  background: url(https://raw.githubusercontent.com/bpin21/bpin21.github.io/gh-pages/docs/assets/1.png) no-repeat center;
  width:100%;
  background-size: contain;
}
.grid > .box:nth-of-type(2) > .box-content {
  background: url(https://raw.githubusercontent.com/bpin21/bpin21.github.io/gh-pages/docs/assets/2.png) no-repeat center;
  width:100%;
  background-size: contain;
}
.grid > .box:nth-of-type(3) > .box-content {
  background: url(https://raw.githubusercontent.com/bpin21/bpin21.github.io/gh-pages/docs/assets/3.png) no-repeat center;
  width:100%;
  background-size: contain;
}
.grid > .box:nth-of-type(4) > .box-content {
  background: url(https://raw.githubusercontent.com/bpin21/bpin21.github.io/gh-pages/docs/assets/4.png) no-repeat center;
  width:100%;
  background-size: contain;
}
.grid > .box:nth-of-type(5) > .box-content {
  background: url(https://raw.githubusercontent.com/bpin21/bpin21.github.io/gh-pages/docs/assets/spiral.png) no-repeat center;
  width:100%;
  background-size: contain;
}
.grid > .box:nth-of-type(6) > .box-content {
  background: url(https://raw.githubusercontent.com/bpin21/bpin21.github.io/gh-pages/docs/assets/fields.png) no-repeat center;
  width:100%;
  background-size: contain;
}
.grid > .box:nth-of-type(7) > .box-content {
  background: url(https://raw.githubusercontent.com/bpin21/bpin21.github.io/gh-pages/docs/assets/project.png) no-repeat center;
  width:100%;
  background-size: contain;
}
.grid > .box:nth-of-type(8) > .box-content {
  background: url(https://raw.githubusercontent.com/bpin21/bpin21.github.io/gh-pages/docs/assets/drawingYay.png) no-repeat center;
  width:100%;
  background-size: contain;
}
.grid > .box:nth-of-type(9) > .box-content {
  background: url(https://raw.githubusercontent.com/bpin21/bpin21.github.io/gh-pages/docs/assets/net.png) no-repeat center;
  width:100%;
  background-size: contain;
}