.container {
    width:90vw;
    height:200vh;
    background: blueviolet;
    transform: translate(5vw, 13vh);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 3vw;
    grid-row-gap: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.box {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: radial-gradient(black, black, transparent 80%);
    background-attachment: relative;
    background-position: 0 10px;
   
}

.box:hover {
    background: radial-gradient(white, transparent 70%);
  }
.box-content {
    width: 100%;
    padding-top:90%;
    background: url(https://raw.githubusercontent.com/bpin21/bpin21.github.io/gh-pages/docs/assets/1.png) no-repeat center;
    background-size: contain;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  
  }

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 40px auto;
    padding: 20px;
    background: radial-gradient(circle at bottom, darkslategray 20%, white);
    border-radius: 5px;
    width: 90%;
    position: relative;
    transition: all .5s ease-in-out;
}
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 10px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #af0c32;
  }
  
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  .canvas {
      padding: 20px;
  }