body {
  background-color: darkblue;
}

h1 {
  color: white;
  margin-left: 20px;
}

a {
 font-size: 30px; 
 font-family: Arial, Helvetica, sans-serif;
}

.outer-circle {
  background-color: yellow;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transform: skew(-30deg, 0deg);
}
.inner-circle {
  background-color: orange;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  transform: skew(30deg, 0deg);
}
